<div class='row'>
	<div class='small-12 medium-12 large-12 columns'>
		<h1 class='marg-top-bot-5'> <span class='blue-underline'> Alexander Cat Shelter </span></h1>
	</div>
	<div class='small-12 medium-6 large-6 columns'>
		<p class='marg-left-10'> Built With</p>
		<div class='marg-left-10'>
			<h3 class='marg-top-5'> Angular 4</h3>
			<h6> FrontEnd Javascript MVW Framework</h6>
		</div> 
		<div class=' marg-left-10'>
			<h3 class='marg-top-5'> ZURB Foundation 6.3.1</h3>
			<h5> FrontEnd Design Framework</h5>
		</div>
		
	</div>
	<div class='small-12 medium-6 large-6 columns'>
		<div class='marg-left-10'>
			<h3> What Now?</h3>
			<p class='marg-top-10'> If you want to discuss about this Project then feel free to contact me.</p>
		</div>
		<div class='marg-left-10'>
			<p> Thanks for your interest in Alexander Cat Shelter & Have a nice Day!</p>
			<p> </p>
			<p class='marg-top-10'> Built by <span class='marg-left-5 builtbyText'> burningRaven06 </span>
			</p>
		</div>
	</div>
</div>