<div class='row'>
	<div class='small-12 medium-12 large-6 columns marg-top5'>
		<div class='text-center'>
			<img src='/assets/home-logo.png'>
		</div>	
	</div>
	<div class='small-12 medium-12 large-6 columns marg-top10'>
		<div class='marg-left10'>
			<h2 > Rescue a Cat & </h2> 
			<h2 > <span id='blue-line-heading'> Deliver to our Shelter </span></h2>
		</div>
	</div>
</div>
<div class='row'>
<div class='small-12 medium-12 large-12 text-center marg-top10'>
		<h2> Save a Stranded Cat, <span id='blue-line-heading'>Save a Life </span></h2>
	</div>
</div>